
#box {
    overflow: hidden;
    background-color: white;
    width: 300px;
    border-radius: 15px;
    text-align: center;
}
body {
    background-color: black;
}
    .date {
        color: royalblue;
        font-size: .9em;
    }
    p {
        color: grey;
    }
    .grid{
        background-color: royalblue;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 1px;
    }
    .grid p{
        color: white;
    }
    .button_title {
        font-size: .8em;
    }
    .quantity {
        font-size: 1.5em;
    }
    .read{
        border-right: 2px;
        border-color: gray;
    }