body {
    background-color: #737373;
}

#hero_img {
    width: 100%;
}

#image_box {
    background-color: #737373;
    text-align: center;
    padding: 60px
}

.icon {
    width: 400px;
    border-radius: 224px;
    border: 24px solid #444444;
    margin: auto;
}