@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
  font-family: "MrFont";
  src: url(../fonts/MrFont.ttf);
}

@font-face {
  font-family: "BrotherFont";
  src: url(../fonts/BrotherFont.ttf);
}

/*General styles*/

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #141a19;
  }

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #df5526;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ffac15;
  }

body{
    background-color: #202e2c;
    margin: 0;
}

header{
    background-color: #141a19;
    height: 120px;
}

#header_nav{
    margin: auto;
    display: grid;
    width: 90%;
    grid-template-columns: 3fr repeat(3, 1fr);
}

    #header_nav a{
        margin:auto;
        font-size: 1.5em;
    }

    #header_nav a:focus{
        background-color: #c1d3db;
    }

    #header_nav a:nth-of-type(1){
        grid-column: 2;
    }
    #header_nav a:nth-of-type(2){
        grid-column: 3;
    }
    #header_nav a:nth-of-type(3){
        grid-column: 4;
    }

    .logo{
        margin-top: 23px;
    }

h1, h2, h3{
    font-family: MrFont, BrotherFont, 'Courier New';
    color: #df5526;
}

h1{
    font-size: 2.3em;
    text-align: center;
}

h2{
    margin-top: 20px;
    font-size: 2em;
}

p{
    font-family: Fredoka, Nuntino, Verdana, sans-serif;
    color: #c1d3db;
}

a{
    color: #df5526;
    font-family: Fredoka, Nuntino, Verdana, sans-serif;
    transition: color 1s;
}

a:hover{
    color: #ffac15;
}

.status{
    color: #df5526;
}

footer{
    background-color: #141a19;
    margin-top: 80px;
    padding: 10px;
}

    footer p{
        display: inline;
    }

    footer div{
        display: inline;
    }

    footer nav{
        margin:auto;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .logo_small{
        height: 40px;
    }

    .internal_links{
        margin: 20px;
    }
    a{
        margin: 10px;
    }

    #social a{
        text-decoration: none;
    }

/*Home Page specific*/
#home_grid {
    width: 70%;
    display: grid;
    grid-template-columns: 4fr 1fr 6fr;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

    #home_grid p{
        font-size: larger;
        margin: 20px;
    }
    .summary {
        grid-column: 1;
        width: 100%;
        background-color: #141a19;
        padding: 20px;
        border-radius: 15px;
    }
    .video_box {
        grid-column: 3;
        background-color: #df5526;
        padding: 20px;
        border-radius: 15px;
        min-width: 550px;
    }
        .video_wrapper {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
        }
        .video_wrapper iframe {
            position:absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            border: 0;
            border-radius: 15px;
        }

.title_stripe{
    background-color: #141a19;
    padding-top: .1px;
    padding-left: 100px;
}
    .title_stripe h2{
        font-size: 2.5em;
        margin-bottom: 0;
    }

#games_grid{
    display:grid;
    grid-template-columns: repeat(6, 25%);
    overflow: scroll;
    overflow-y: hidden;
    transform: rotatex(180deg);
}
        #games_grid a{
        margin:0;
    }
    .game_box{
        background-color: #df5526;
        transform: rotatex(180deg);
        width: 100%;
        z-index: 2;
        transition: width .2s, z-index 0s .2s;
    }

    /*These are placeholders for future games*/
    .game_box:nth-of-type(3){
        background-color: #ffac15;
    }
    .game_box:nth-of-type(5){
        background-color: #ffac15;
    }

    .game_box img{
        width:100%;
        display: block;
        z-index: 3;
        opacity: 100%;
        transition: opacity 2s;
    }

    .game_box:hover{
        z-index: 4;
        width: 110%;
        transition: width 1s, z-index 0s 0s;
    }

    .game_box img:hover{
        opacity: 85%;
        z-index: 4;
    }
    .game_box:hover > .description_card{
        right: -60%;
        transition: right 1s;
    }
        .description_card{
            background-color: #233532;
            border-radius: 15px;
            padding: 20px;
            width: 50%;
            margin-left: auto;
            right: 10%;
            margin-top: -150%;
            position: absolute;
            z-index: -2;
            transition: right .5s;
        }


/*Game page specific*/
#html-game-frame {
    border: 0;
}